<!-- Table of all the active professionals-->
<table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Professional Name</th>
        <th scope="col">Email</th>
        <th scope="col">Service Type</th>
        <th scope="col">Experience</th>
        <th scope="col">Address</th>
        <th scope="col">Pin Code</th>
        <th scope="col">Rating</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
        <!-- Here profesional is an object of User modal-->
        {% for profesional in profesionals %}
            <tr>
                <th scope="row">{{profesional.id}}</th>
                <td>{{profesional.capitalised_name()}}</td>
                <td>{{profesional.email}}</td>
                <td>{{profesional.professional_info.service.name}}</td>  <!-- Using relation session described on Professional modal-->
                <td>{{profesional.professional_info.experience}} yrs</td> <!-- Using relation professional_info described on User modal-->
                <td>{{profesional.address}}</td>
                <td>{{profesional.pincode}}</td>
                <td>{{profesional.professional_info.rating}}</td>
                <td>
                    <form action="/professional_status/{{profesional.id}}", method="POST">
                        {% if profesional.status %}
                            <button type="submit" class="btn btn-primary">Active</button>
                        {% else %}
                            <button type="submit" class="btn btn-danger">Inactive</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>