<!-- Completed Jobs -->
<h4 style="margin-bottom: -10px;" class="h4 text-start mt-3">Completed Services</h4>
<hr style="margin-bottom:  -10px;" class="divider">
{% if completed_service_requests %}
    <table class="table mt-1">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Service Name</th>
            <th scope="col">Professional Name</th>
            <th scope="col">Completion Date and Time</th>
            <th scope="col">Rating</th>
            <th scope="col">Remarks</th>
        </tr>
        </thead>
        <tbody>
            {% for completed_service_request in completed_service_requests %}
                <tr>
                    <th scope="row">{{completed_service_request.id}}</th>
                    <td>{{completed_service_request.services.name}}</td>
                    <td>{{completed_service_request.professional.user.name}}</td>
                    <td>{{completed_service_request.end_date}}</td>
                    <td>{{completed_service_request.rating}}</td>
                    <td>{{completed_service_request.remarks}}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="h5 mt-3">No data available.</div>
{% endif %}