{% extends "base.html" %}

{% block title %}
    Professional Dashboard
{% endblock %}

{% block content %}
    <div class="main">
        <!-- content -->

        <!-- Avaliable Jobs -->
         {% include "includes/pro_avaliable_jobs.html" %}


        <!-- Accepted Jobs -->
         {% include "includes/pro_accepted_jobs.html" %}

        
        <!-- Completed Jobs -->
         {% include "includes/pro_completed_jobs.html" %}


        
    </div>
    <div style="height: 1000px;"></div>

    
{% endblock %}