{% extends "base.html" %}

{% block title %}
    Professional Dashboard
{% endblock %}

{% block content %}
    <div class="main">
        <!-- search funtionality not needed 
        <div class="row">
            <div class="input-group">
                    <input style="width: 400px;" type="text" class="form-control ms-1" placeholder="Search">
                    <select class="form-select">
                        <option selected>Select Filter</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    <button style="border-radius: 0;" class="btn btn-outline-secondary" type="button">
                        <img  src="/static/image/icons/search.svg">
                    </button>
            </div>
        </div> 
        -->

        <!-- content -->

        <!-- Avaliable Jobs -->
         {% include "includes/pro_avaliable_jobs.html" %}


        <!-- Accepted Jobs -->
         {% include "includes/pro_accepted_jobs.html" %}

        
        <!-- Completed Jobs -->
         {% include "includes/pro_completed_jobs.html" %}


        
    </div>
    <div style="height: 1000px;"></div>

    
{% endblock %}