{% extends "base.html" %}

{% block title %}
    Signup
{% endblock %}

{% block content %}
<div class="main">
    <div class="d-flex flex-column  align-items-center mt-4">
        <div class="d-flex align-items-center mb-3">
            <span class="me-2" style="font-size: 30px;">SIGNUP</span>
            <img src="/static/image/icons/person-add.svg">
        </div>
        <form action="/customer_registration" method="POST">
            <div>
                <!-- Email area -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input name="email" type="email" class="form-control" placeholder="Email" required>
                </div>
                <!-- Password area-->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <img src="/static/image/icons/key.svg">
                    </span>
                    <input name="password" type="password" class="form-control" placeholder="Password" minlength="8" required>
                </div>
                <!-- Full Name -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <img src="/static/image/icons/letters.svg">
                    </span>
                    <input name="name" type="text" class="form-control" placeholder="Full Name" required>
                </div>
                <!-- Address -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <img src="/static/image/icons/home.svg">
                    </span>
                    <input name="address" type="text" class="form-control" placeholder="Address" required>
                </div>
                <!-- Pin Code -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        <img src="/static/image/icons/pin.svg">
                    </span>
                    <input name="pincode" type="text" class="form-control" placeholder="Pin Code" required>
                </div>
            </div>
            <!-- Submit button and login link-->
            <button type="submit" class="btn btn-primary ">Signup</button>
            <p>Already a user?<a href="{{ url_for('login_page') }}">Login</a></p>
        </form>
    </div>
</div>
{% endblock %}