{% extends "base.html" %}

{% block title %}
    User Dashboard
{% endblock %}

{% block content %}
    <div class="main">
        <!-- main-window-header -->
        <div class="d-flex">
                <!-- Sevices & Requests Tabs-->
                <div>
                    <ul class="nav nav-pills" >
                        <li class="nav-item">
                            <form action="{{ url_for('user_page', button_state=1) }}" method="POST">
                                <button style="border-radius: 0;" class="nav-link {{'active' if button_state}}" type="submit">Services</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form action="{{ url_for('user_page', button_state=0) }}" method="POST">
                                <button style="border-radius: 0;" class="nav-link {{'active' if button_state==0}}" type="submit">Requests</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <!-- Search Funtionality Section -->
                 {% if button_state %}
                <form class="flex-grow-1" action="{{url_for('user_search', button_state=button_state)}}" method="POST">
                    <div class="input-group">                    
                        <!-- Search box -->
                        <input name="search_text" style="height: 40px; width: 400px;" type="text" class="form-control ms-1 " placeholder="Search" >
                        <!-- Search filter dropdowns-->
                        <select name="filter_option" class="form-select" aria-label="Default select example" >
                            <option selected value="name">Name</option>
                            {% if button_state%}
                                <option value="email">Description</option>
                            {% else %}
                                <option value="pro_name">Professional Name</option>
                                <option value="status">Status</option>
                            {% endif %}
                        </select>
                        <!-- Search Button-->
                        <button style="border-radius: 0;" class="btn btn-outline-secondary" type="submit" id="button-addon2" >
                            <img  src="/static/image/icons/search.svg">
                        </button>                    
                    </div>
                </form>
                {% endif %}
        </div>
        <!-- content: Services Tab or Requests Tab -->
        {% block subcontent %}
        {% endblock %}
        
    </div>
    <div style="height: 1000px;"></div>

    
{% endblock %}