<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/static/styles/login-style.css">
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="header-start">
                    A - Z Household Services
                </div>
                <div>Register as profestional</div>
            </div>
            <div class="middle">
                <div class="pair">
                    <div >Registered Email ID:</div> 
                    <div ><input type="text"/></div>
                </div>
                <div class="pair">
                    <div >Password:</div> 
                    <div ><input type="text"/></div>
                </div>
            </div>
            <div class="footer">
                <div>
                    <button>Login</button>
                </div>
                <div>
                    Create Account?
                </div>
            </div>
        </div>

    </body>
</html>